Backup/
linear_stability.c
*.jpg
*.jpeg
*.png
*.exe
*.out
*.vtk
Solution.csv
Convergence.csv
.vscode/
*.m
*.log
*.dat
*.aux
*.toc
*.gz
*.pdf
*.eps
*.dvi
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.nav
*.snm
*.cubin
*.ptx
*.optrpt
*.mod
*.lst
*.sum
*.pyc
__pycache__/
*.ipynb_checkpoints/
*.fatbin
*.s
*.o
*.obj
*.gpu
*.sqlite
*nsys-rep